<nav class="site-nav">
    <div class="trigger">
        {%- for p in site.pages -%}
        {% if p.title and p.layout == "home" and p.dir != "/" %}
        <span class="toplevel">../</span><a class="page-link dir" href="{{ p.url | relative_url }}">{{ p.title | escape }}</a>
        {% endif %}
        {%- endfor -%}
    </div>
    <div class="trigger">
        {%- for p in site.pages -%}
        {% if p.title and p.dir != "/" and p.dir == page.dir p.layout != "home" %}
        <span class="subdir">./</span><a class="page-link subdir" href="{{ p.url | relative_url }}">{{ p.title | escape }}</a>
        {% endif %}
        {%- endfor -%}
    </div>
</nav>

