---
---

@import "{{ site.theme }}";

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline 1px dotted;
}

tr {
    background-color: rgba(255, 255, 255, 0.1);
}

tr:nth-child(odd){
    background-color: rgba(255, 255, 255, 0.15);
}

code.highlighter-rouge {
    color: #ff00cc;
}

span.toplevel
{
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color : $conifer;
    font-weight: bold;
    font-size: 16px;
}

span.subdir
{
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color : $conifer;
    font-weight: bold;
    font-size: 14px;
}

a.dir
{
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color : $conifer;
    font-weight: bold;
    font-size: 16px;
}

a.subdir
{
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color : $conifer;
    font-weight: bold;
    font-size: 14px;
}

span.title
{
    font-size: 30px;
    line-height: 1.5;
    margin: 0 0 0 -40px;
    font-weight: bold;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: $conifer;//$header;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
                 0 0 5px rgba(181, 232, 83, 0.1),
                 0 0 10px rgba(181, 232, 83, 0.1);
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
    @include media-max-width($container-max-width) {
      margin-left: 0;
    }
}

header span.title:before {
    content: "./ ";
    font-size: 24px;
  }


span.subtitle
{
    font-weight: normal;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: $header;
    letter-spacing: -0.03em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
                 0 0 5px rgba(181, 232, 83, 0.1),
                 0 0 10px rgba(181, 232, 83, 0.1);
    font-size: 18px;
    font-weight: 300;
    color: #666;
}
